@charset "UTF-8";
/* CSS Document */


/*****************/
/* Page Elements */
body {
	padding: 0px 16px 0px 16px;
	margin:auto;
	width:800px;
	font-family:Trebuchet MS;
	font-size:12px;
	min-width:700px;
}

body a {
	color:#000000;
}

body a:hover {
	color:#666;
}

h2 {
	margin:4px;
}

h3 {
	margin:4px;
}

fieldset {
	margin:auto;
}

#forum_body {
	padding: 0px 10px;
}


/*****************/
/* Form Elements */
.form {
	margin:auto;
	width:100%;
}

.form table {
	width:100%;
}

.form td {
	text-align:left;
}

.form table.trio {
	width: 580px;
}

.form td.short {
	width:175px;
}

.form td.long {
	width:350px;
}

#register_form, #login_form {
	margin:auto;
	text-align:center;
	width:340px;
}

/*****************/
/* Header Navbar */
#header_navbar {
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 5px 0px;
	font-size:90%;
	margin-bottom: 10px;
	border: 0px solid black;
}

.header #top_links {
	padding-left: 6px;
	border: 1px black solid;
	border-top: 0px black solid;
	padding:5px 7px;
}

.header #banner {
	text-align:center;
	background-color:#FFF;
	padding: 0px;
	margin: 10px 0px 10px 0px;
}

.header #banner div {
	text-align:center;
	background-repeat:no-repeat;
	background-position:left center;
}

.header #user_links {
	float:right;
	padding-right: 6px;
}

.header #nav_links {
	padding-left: 6px;
}


/*******************/
/* Footer Elements */
.footer {
	text-align:center;
	margin-top:8px;
	margin-bottom:34px;
}

.footer_login {
	display: none;
}


/**************************/
/* Footer Navbar Elements */
.footer_navbar {
	text-align:center;
	background-color:#FFF;
	position:fixed;
	top:auto;
	left:20px;
	right:20px;
	bottom:0px;
	padding:.5em;
	font-size:90%;
	border: 1px black solid;
	border-bottom: 0px;
	min-width:700px;
}

.footer_navbar form {
	margin:0px;
}


/*************************/
/* Who's Online Elements */
.whos_online_icon {
	width:30px;
	height:30px;
	float:left;
	background-color:#FFF;
	margin-right:10px;
	margin-bottom:10px;
}

.whos_online {
	padding: 8px 10px;
	border: black solid 1px;
	margin: 2px 0px;
}

.whos_online_title {
	font-size:100%;
}

.whos_online_header {
	font-size:100%;
	padding: 2px;
	margin: 0px 0px 0px 4px;
	border: black solid 1px;
}

.whos_online_header:hover {
	background-color:#CCCCCC;
}



/**************************/
/* Page-Specific Elements */
/**************************/

/*********************/
/* Category Elements */
.forum_body .category {
	padding: 0px;
	border:black solid 0px;
	margin: 10px;
}

.forum_body .category_header {
	padding: 6px 0px;
	font-size:110%;
	font-weight:bold;
	text-align:center;
}


/************************************/
/* Common Forum and Thread Elements */
.thread_last_updated {
	float:right;
	font-size:90%;
	text-align:center;
	display:block;
	min-width:150px;
}

.num_posts {
	display:block;
	width:64px;
	padding-top:6px;
	float:right;
	text-align:center;
}

.num_threads {
	display:block;
	width: 50px;
	padding-top:6px;
	float: right;
	text-align:center;
}


/*******************************/
/* Forum and Subforum Elements */
.forum_icon {
	width:26px;
	height:26px;
	float:left;
	background-color:#FFF;
	margin-right:10px;
	margin-bottom:10px;
}

.forum_body .forum {
	padding: 8px 10px;
	border: black solid 1px;
	margin: 2px 0px;
}

.forum_body .forum_title {
	font-size:100%;
}

.forum_body .forum_description {
	font-size:90%;
	min-width:500px;
}

.forum_header {
	font-size:100%;
	padding: 2px;
	padding-left: 12px;
	margin: 0px 0px 0px 4px;
	border: black solid 1px;
}

.forum_header:hover {
	background-color:#CCCCCC;
}

.forum_header .thread_last_updated {
	float:right;
	font-size:100%;
	text-align:center;
	display:block;
	min-width:165px;
}

.forum_header .num_posts {
	display:block;
	width: 50px;
	padding: 0px;
	float: right;
}

.forum_header .num_threads {
	display:block;
	width: 62px;
	padding: 0px;
	float: right;
}

.forum_info {
	padding:1px;
	font-size:80%;
}


.forum_body .subforum {
	padding: 8px 10px;
	border: black solid 1px;
	margin: 2px 0px 2px 48px;
}

.forum_body .subforum_title {
	font-size:95%;
}

.forum_body .subforum_description {
	font-size:90%;
	min-width:500px;
}

.subforum_header {
	font-size:95%;
	padding: 2px;
	padding-left: 12px;
	margin: 0px 0px 0px 52px;
	border: black solid 1px;
}

.subforum_header:hover {
	background-color:#CCCCCC;
}

.subforum_header .thread_last_updated {
	float:right;
	font-size:100%;
	text-align:center;
	display:block;
	min-width:165px;
}

.subforum_header .num_posts {
	width: 48px;
	padding: 0px;
	float: right;
}

.subforum_header .num_threads {
	width: 60px;
	padding: 0px;
	float: right;
}

.subforum_info {
	padding:1px;
	font-size:80%;
}

.subsubforum {
	padding: 4px 6px;
	border: black solid 1px;
	margin: 2px 0px 2px 48px;
	font-size:90%;
}

 .subsubforum_info {
	font-size:90%;
}


/***************************/
/* Thread Listing Elements */
.threads_body {
	border:1px solid black;
	margin:5px 20px;
}

.thread_header {
	font-size:100%;
	padding: 2px;
	padding-left: 12px;
	margin: 4px 20px 0px 32px;
	border: black solid 1px;
}

.thread_header:hover {
	background-color:#CCCCCC;
}

.thread_header .thread_last_updated {
	float:right;
	font-size:100%;
	text-align:center;
	display:block;
	min-width:165px;
}

.thread_header .num_posts {
	width: 50px;
	padding: 0px;
	float: right;
}

.thread {
	border-bottom:1px solid black;
	padding:10px;
	min-height:20px;
	clear:both;
}

.thread_alt_1 {
	background-color:#FFF;
}

.thread_title {
	font-size:100%;
}

.thread_icon {
	width:26px;
	height:26px;
	float:left;
	margin-right:5px;
	margin-bottom:5px;
	background-color:#FFF;
}

.thread_author {
	font-size:90%;
	color:#454545;
}


/********************************/
/* Posts / Thread Page Elements */
.posts_body {
	border:1px solid black;
	margin:10px 20px;
	min-width:620px;
}

.post {
	border-bottom:1px solid black;
	padding:0px;
	font-family:Trebuchet MS;
	font-size:12px;
	min-height:inherit;
	clear:both;
}

.post_alt {
	background-color:#CCC;
}

.post_left_col {
	float:left;
	border-bottom:0px solid black;
	padding:6px;
	margin-right:6px;
	min-height:100px;
	clear:left;
	width:18%;
}

.post_right_col {
	float:left;
	padding: 6px;
	text-align:justify;
	border-left:0px solid black;
	min-height:100px;
	width:77%;
	min-width:400px;
	word-wrap: break-word;
}

.post_right_col hr.post_top_hr {
	margin-top: 5px;
	margin-bottom: 9px;
}

.post_time {
	float:right;
	font-size:90%;
}

.post_signature {
	font-size:90%;
	color:#454545;
	padding-top:0px;
}

.post_avatar {
	max-width:125px;
}

.post_bottom {
	min-height:6px;
	border-top:1px solid black;
	clear:both;
	background-color:#FFFFFF;
}

.posting_body {
	border: 1px solid black;
	margin: 10px 30px;
}

.posting_title {
	padding: 4px 8px;
}

.posting_content {
	padding: 4px 8px;
}

.posting_options {
	padding: 0px 0px;
	margin: 0px;
	position: relative;
	top: -2px;
}

.list_pages {
	float:right;
}

.list_pages a.selected {
	text-decoration:none;
}

/***********************/
/* Member Profile Page */

.member_profile_left {
	float:left;
	border-bottom:0px solid black;
	padding:6px;
	margin-right:6px;
	min-height:100px;
	clear:left;
	width:18%;
	text-align:center;
}

.member_profile_avatar {
	max-width:125px;
}

.member_profile_right {
	float:left;
	padding: 6px;
	text-align:justify;
	border-left:0px solid black;
	min-height:100px;
	width:77%;
	min-width:400px;
	word-wrap: break-word;
}

.member_profile_bottom {
	min-height:6px;
	clear:both;
	background-color:#FFFFFF;
	padding-bottom:6px;
	padding-left: 21%;
}

.member_profile_signature {
	font-size:90%;
	color:#454545;
	width: 500px;
	padding-top:0px;
	text-align:left;
}

/*************************/
/* User CP Page Elements */
.user_menu {
	margin: 10px;
	padding: 6px;
	border:1px solid black;
}

.user_menu fieldset {
	width:auto;
	margin: 0px 2px;
}

.user_menu .top_col {
	padding: 4px;
	border:1px solid black;
}

.user_bottom_col {
	margin: 10px;
	padding: 4px;
	border:1px solid black;
}

.user_form {
	margin:auto;
	width:490px;
}

.user_form .col_left #signature {
	height:100px;
	width:70%;
}

.user_form .col_right #signature {
	height:100px;
	width:70%;
}


/**************************/
/* Admin CP Page Elements */
.admin_menu {
	margin: 10px;
	padding: 6px;
	border:1px solid black;
}

.admin_menu fieldset {
	width:auto;
	margin: 0px 2px;
}

.admin_menu .top_col {
	padding: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	border:1px black solid;
}

.admin_menu .top_col a {
	position:relative;
	padding: 5px;
	padding-bottom: 4px;
	padding-top: 4px;
	margin: 0px;
}

.admin_menu .top_col a:hover {
	background-color:#CCCCCC;
}

.admin_menu .submenu {
	padding: 5px;
}

.admin_bottom_col {
	margin: 10px;
	padding: 4px;
	border:1px solid black;
}

.admin_form {
	margin:auto;
	width:590px;
}

.admin_body .category {
	padding: 0px;
	margin: 4px 0px;
}

.admin_body .category_header {
	font-weight:bold;
	margin: 4px 48px 4px 0px;
}

.admin_body .forum {
	margin: 6px 24px 6px 12px;
}

.admin_body .subforum {
	margin: 6px 0px 6px 24px;
}

.admin_body .forum_title, .admin_body .subforum_title {
	font-size:100%;
}

.admin_body .category_description, .admin_body .forum_description, .admin_body .subforum_description {
	font-size:90%;
}


/****************************/
/* Memberlist Page Elements */
.memberlist td {
	padding-left:6px;
	padding-right:8px;
}


/*************************/
/* Process Page Elements */
.success_confirm {
	margin:auto;
	width:250px;
	padding:10px;
	border: 1px solid black;
}